<h1 class="center">Vacation Data for
  <%= vacation.title %>
</h1>

<img src="/images/<%= vacation.heroImage %>" alt="<%= vacation.heroImage %>" style="width: 25vw; min-width: 200px; margin: 10px">

<table class="table">
  <tr>
    <th>Title</th>
    <td>
      <%= vacation.title %>
    </td>
  </tr>
  <tr>
    <th>Description</th>
    <td>
      <%= vacation.description%>
    </td>
  </tr>
  <tr>
    <th>Max Travelers</th>
    <td>
      <%= vacation.maxTravelers%>
    </td>
  </tr>
  <tr>
    <th>Cost</th>
    <td>$
      <%= vacation.cost%>
    </td>
  </tr>
  <tr>
    <th>Cuisine</th>
    <td>
      <%= vacation.cuisine%>
    </td>
  </tr>
  <tr>
    <th>Destination</th>
    <td>
      <%= vacation.destination%>
    </td>
  </tr>
  <tr>
    <th>Destination Weather</th>
    <td>
      <%= vacation.destinationWeather%>
    </td>
  </tr>
  <tr>
    <th>Departure Location</th>
    <td>
      <%= vacation.departureLocation%>
    </td>
  </tr>
  <tr>
    <th>Departure Date</th>
    <td>
      <%= (new Date(vacation.departureDate)).toDateString()%>
    </td>
  </tr>
  <tr>
    <th>Return Date</th>
    <td>
      <%= (new Date(vacation.returnDate)).toDateString()%>
    </td>
  </tr>
</table>


<div>
  <a class="button" href="<%=`/vacations/${vacation._id}/edit`%>">
    Edit Vacation Details
  </a>
</div>
<div>
  <a class="button" href="<%= `/vacations/${vacation._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
</div>
<div>
  <a class="button" href="/vacations">View all vacations</a>
</div>
